@font-face {
	font-family: Gotham;
	font-weight: bold;
	src: url("../fonts/Gotham-Bold.ttf") format("truetype");
}

@font-face {
	font-family: Gotham;
	font-weight: light;
	src: url("../fonts/Gotham-Book.ttf") format("truetype");
}

.cah-news-items {
	flex: 2;
}

.cah-news-feature {
	order: 2;
	flex: 1;
}

.cah-news-article {
	font-family: Gotham;
	display: flex;
	padding: 5px;
	margin-bottom: 10px;
	min-height: 125px;
}

.cah-news-article:hover{
	cursor: pointer;
	background-color: #EEEEEE;
}

.cah-news-article .cah-news-thumbnail {
	height: 75px;
	width: 75px;
	background-position: center;
	background-size: cover;
	display: inline-block;
}

.cah-news-article .cah-news-content {
	margin-left: 10px;
	flex: 2;
}

.cah-news-article .cah-news-title {
	font-weight: bold;
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 18px;
	color: black;
}

.cah-news-article .cah-news-site {
	font-weight: bold;
	letter-spacing: 1px;
	padding: 2px 15px;
	margin: 0;
	font-size: 11px;
	color: black;
	font-weight: bold;
	background-color: #FFC904;
	display: inline-block;
}

.cah-news-article .cah-news-excerpt {
	padding: 0;
	margin: 0;
	color: black;
	font-weight: light;
	font-size: 14px;
}

.cah-news-article .cah-news-excerpt * {
	margin: 0;
}

@media (min-width: 992px) {
	.cah-news {
		display: flex !important;
	}

	.cah-news-article {
		margin-bottom: 20px;
	}

	.cah-news-feature .cah-news-article {
		flex-direction: column;
		margin-left: 25px;
	}

	.cah-news-feature .cah-news-article .cah-news-thumbnail {
		width: 100%;
		height: 400px;
		margin-bottom: 25px;
	}
	.cah-news-article .cah-news-thumbnail {
		height: 150px;
		width: 150px;
	}

	.cah-news-article .cah-news-title {
		font-size: 20px;
	}
}